section {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.system-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}
.el-text {
  align-self: flex-start;
}