.el-aside {
  transition: background-color .2s, opacity .25s, transform .5s cubic-bezier(.19, 1, .22, 1);
}

.el-aside.open {
  transform: translate(0);
  opacity: 1;
}

.el-menu {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: transparent;
  border: none;
  box-shadow: var(--el-box-shadow-lighter);
}
.el-menu-item {
  height: 55px;
}

.el-menu-item.is-active {
  background-color: #f2f6fc;
}

.el-menu-item.is-active .el-divider {
  background: #79bbff;
}

.el-menu-item .el-divider {
  margin: 0;
  width: 6px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
}

.el-menu .el-button {
  margin-left: auto;
  width: 63px;
  height: 55px;
  opacity: 0.65;
}

.el-menu-vertical-demo:not(.el-menu--collapse) {
  width: 200px;
}

@media only screen and (max-width: 767px) {
  .el-aside {
    background-color: #ffffff;
    height: 100vh;
    position: fixed;
    top: 0;
    bottom: 0;
    transform: translate(-100%);
    opacity: 0;
    z-index: 3000;
  }
}