.el-form {
  width: 392px;
  min-width: 220px;
  display: flex;
  padding: 4px 12px;
  flex-direction: column;
}
.el-text.title {
  font-size: 24px;
  display: inline-block;
  margin-bottom: 24px;
  color: #333333;
}
.el-form-item {
  margin-bottom: 16px;
}
.form__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form__links a {
  color: #333333;
}
.form__links .el-text {
  margin-bottom: 10px;
  text-align: center;
}
.el-button {
  font-weight: 500;
  width: 100%;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}